@tailwind base;
@layer base {
  h1,h2,h3 {
    @apply mb-3;
    font-family: Silka, sans-serif;
  }
  h1 {
    @apply text-4xl
  }
  h2 {
    @apply text-2xl
  }
  h3 {
    @apply text-xl
  }
  body {
    @apply bg-gray-100;
    font-family: Avenir Next, sans-serif;
  }
  p {
    @apply mb-3
  }
  a {
    @apply underline
  }
}
@tailwind components;
@tailwind utilities;

.width-for-height {
  height: 100vw;
}